@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: oklch(94.3% 0.029 294.588);
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;

}

.custom-container {
  
}

.quill .ql-toolbar.ql-snow {
  border: none;
}

.quill .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}
